<!DOCTYPE html>
<html lang="uk">
    <head>
        {% include '../parts/app-head.twig' %}
    </head>

    <body>
        {% for page in pages %}
            {% set file = page.no ~ '-' ~ page.id ~ '.twig' %}

            {% include '../../_dump/uncss/' ~ file %}
        {% endfor %}

        {% include '../parts/app-footer.twig' %}
    </body>
</html>
