//# Application Colors
//
//*

//### Base
$white: #fff;
// $gray-100: ;
// $gray-200: ;
// $gray-300: ;
// $gray-400: ;
// $gray-500: ;
// $gray-600: ;
// $gray-700: ;
// $gray-800: ;
// $gray-900: ;
$black: #000;

// $primary: $blue;
// $secondary: $gray-600;
// $success: $green;
// $info: $cyan;
// $warning: $yellow;
// $danger: $red;
// $light: $gray-100;
// $dark: $gray-800;

$body-bg: $white;
// $body-color: $gray-900;

// $body-bg-inverse: $body-color;
$body-color-inverse: $body-bg;
