{% if UNCSS %}
    {% extends '../templates/_uncss-dump.twig' %}
{% else %}
    {% extends '../templates/_base.twig' %}
{% endif %}

{% set PID = 'home' %}

{% set PAGE = '' %}
{% for data in pages %}
    {% if data.id == PID %}
        {% set PAGE = data %}
    {% endif %}
{% endfor %}

{% block main %}
    <main>
        <h1>{{ PAGE.title }}</h1>

        <a href="{% include '../misc/_path.twig' with { PID: 'home' } %}">Link Home</a>

        {% include '../modal/_btn.twig' with {
            class: 'btn btn-primary',
            text: 'Button modal',
            target: 'DemoModal'
        } %}
    </main>

    {% include '../modal/_tpl-base.twig' with {
        id: 'DemoModal'
    } %}

{% endblock %}
