{% if UNCSS %}
    {% extends '../templates/_uncss-dump.twig' %}
{% else %}
    {% extends '../templates/_base.twig' %}
{% endif %}

{% set PAGE = PAGES.home %}

{% block main %}
    <main>
        <h1>{{ PAGE.title }}</h1>

        <ul>
            <li>{% include '../misc/_link.twig' with { PID: 'home' } %}</li>

            <li>
                {% spaceless %}{% include '../modal/_btn.twig' with {
                    class: 'btn btn-primary',
                    text: 'Button modal',
                    target: 'DemoModal'
                } %}{% endspaceless %}
            </li>
        </ul>

        {% include '../modal/_tpl-base.twig' with {
            id: 'DemoModal'
        } %}
    </main>
{% endblock %}
