{% if UNCSS %}
    {% extends '../templates/uncssDump.twig' %}
{% else %}
    {% extends '../templates/base.twig' %}
{% endif %}

{% set PID = 'home' %}

{% block main %}
    <main>
        <h1>Page heading</h1>

        <a href="{% include '../_path' with { PID: 'home' } %}">Link Home</a>

        {% include '../parts/modal/btn.twig' with {
            class:  'btn btn-primary',
            text:   'Button modal',
            target: 'DemoModal'
        } %}
    </main>

    {% include '../parts/modal/_tpl-base.twig' with {
        id:     'DemoModal'
    } %}

{% endblock %}
