{% extends '../templates/_base.twig' %}

{% set PAGE = PAGES.index %}

{% block main %}
    <style>
        a:not([href]) {
            opacity: .2;
            pointer-events: none;
        }
    </style>

    <main class="o-box u-pt-banner">
        <ol>
            {% for page in PAGES %}
                {% if loop.index > 1 %}
                    <li>
                        {% include '../misc/_link.twig' with {
                            PID: page.id,
                            linkTitle: page.id|capitalize ~ ' (' ~ page.no ~ ')',
                            isLinkDisabled: not page.isFinished,
                        } %}
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </main>
{% endblock %}
