//# Interface Icons
//
//*

//## Generated sprites styles

@import "../sprites/ii";


//## Sprites
//
//*

.i-ii {
    display: block;
}


//## SVG icons
//
//*

.i-svg {
    display: block;
    fill: inherit;
}

