//# Typography
//
//*


//## Headings
//
//*

// h1, .h1,
// h2, .h2,
// h3, .h3 {
//     margin-bottom: $paragraph-margin-bottom;
// }


//## Text
//
//*

// p {
//     margin-bottom: $paragraph-margin-bottom;
// }


//## Lists
//
//*

//### Unordered and Ordered lists

// ul, ol {
//     margin-bottom: $paragraph-margin-bottom;
// }

// .c-text {
//     li {
//         margin-bottom: (spacer(1) / 2);
//     }

//     ul, ol {
//         margin: -(spacer(1)) 0 (spacer() + spacer(1));

//         ul, ol {
//             margin: (spacer(1) / 2) 0 spacer(1);
//         }
//     }
// }


//### Determination list

// dl {
//     margin-bottom: $paragraph-margin-bottom;
// }


//## Forms
//
//*

textarea {
    resize: vertical;
}


//## Misc
//
//*

abbr[title] {
    text-decoration: none;
    cursor: inherit !important;
}
