<ul class="list-inline js-pswp">
    <li><a title="100" href="https://unsplash.it/2200/2200?image=100"><img src="https://unsplash.it/200/200?image=100" alt=""></a></li>
    <li><a title="101" href="https://unsplash.it/2200/2200?image=101"><img src="https://unsplash.it/200/200?image=101" alt=""></a></li>
    <li><a title="102" href="https://unsplash.it/2200/2200?image=102"><img src="https://unsplash.it/200/200?image=102" alt=""></a></li>
    <li><a title="103" href="https://unsplash.it/2200/2200?image=103"><img src="https://unsplash.it/200/200?image=103" alt=""></a></li>
    <li><a title="104" href="https://unsplash.it/2200/2200?image=104"><img src="https://unsplash.it/200/200?image=104" alt=""></a></li>
</ul>
