<!-- ! RESPECT THE ORDER ! -->
<!-- _____________________ -->

<!-- googleapis jquery.min.js (stable version sets in boilerplate)-->
<!-- <script src="/src/js/vendor/*.min.js"></script> (static jquery.min.js (from boilerplate) -->
<!-- <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script> -->

<!-- <script src="/src/js/vendor/slider.js"></script> -->
<!-- <script src="/src/js/vendor/bootstrap/*.js"></script> (bootstrap scripts) -->

<script src="/src/js/ui.js"></script>
<script src="/src/js/app.js"></script>
