<!DOCTYPE html>
<html class="no-js">
	<head>
		<!-- @include head.html -->
	</head>
	<body>
		<!-- @include site-header.html -->

		<section class="wrap">
			<div class="well">
				<strong>ATTENTION!</strong> This is not styleguide! This is template for front-end project debugging & customizing!
			</div><br>

			<h1>h1. Demo heading</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde incidunt sint adipisci, modi quibusdam molestias, obcaecati cum in tempore ducimus provident, sunt vero fuga neque similique molestiae facere ratione delectus?</p>

			<h2>h2. Demo heading</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde incidunt sint adipisci, modi quibusdam molestias, obcaecati cum in tempore ducimus provident, sunt vero fuga neque similique molestiae facere ratione delectus?</p>

			<h3>h3. Demo heading</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde incidunt sint adipisci, modi quibusdam molestias, obcaecati cum in tempore ducimus provident, sunt vero fuga neque similique molestiae facere ratione delectus?</p>

			<h4>h4. Demo heading</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde incidunt sint adipisci, modi quibusdam molestias, obcaecati cum in tempore ducimus provident, sunt vero fuga neque similique molestiae facere ratione delectus?</p>

			<h5>h5. Demo heading</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde incidunt sint adipisci, modi quibusdam molestias, obcaecati cum in tempore ducimus provident, sunt vero fuga neque similique molestiae facere ratione delectus?</p>

			<h6>h6. Demo heading</h6>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde incidunt sint adipisci, modi quibusdam molestias, obcaecati cum in tempore ducimus provident, sunt vero fuga neque similique molestiae facere ratione delectus?</p>

			<a href="#">Default link</a>
			<br><br>

			<a href="#" class="has-action title">a.has-action.title</a>
			<br><br>

			<a href="#" class="has-action">
				<span class="title">a.has-action > span.title</span>
			</a>
			<br><br>

			<a href="#" class="link-unstyled">a.link-unstyled</a>
			<br><br>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde incidunt sint adipisci, modi quibusdam molestias, obcaecati cum in tempore ducimus provident, sunt vero fuga neque similique molestiae facere ratione delectus?</p>

			<ul>
				<li>ul > li (Demo unordered list item)</li>
				<li>ul > li (Demo unordered list item)</li>
				<li>ul > li (Demo unordered list item)</li>
			</ul>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde incidunt sint adipisci, modi quibusdam molestias, obcaecati cum in tempore ducimus provident, sunt vero fuga neque similique molestiae facere ratione delectus?</p>

			<ul>
				<li>ul > li (Demo unordered list item)</li>
				<li>ul > li (Demo unordered list item)</li>
				<li>ul > li (Demo unordered list item)
					<ul>
						<li>ul > li > ul > li (Demo unordered inserted list item)</li>
						<li>ul > li > ul > li (Demo unordered inserted list item)</li>
						<li>ul > li > ul > li (Demo unordered inserted list item)</li>
						<li>ul > li > ul > li (Demo unordered inserted list item)</li>
						<li>ul > li > ul > li (Demo unordered inserted list item)</li>
						<li>ul > li > ul > li (Demo unordered inserted list item)</li>
					</ul>
				</li>
				<li>ul > li (Demo unordered list item)</li>
				<li>ul > li (Demo unordered list item)</li>
				<li>ul > li (Demo unordered list item)</li>
			</ul>

			<ol>
				<li>ol > li (Demo ordered list item)</li>
				<li>ol > li (Demo ordered list item)</li>
				<li>ol > li (Demo ordered list item)
					<ul>
						<li>ol > li > ul > li</li>
						<li>ol > li > ul > li</li>
						<li>ol > li > ul > li</li>
						<li>ol > li > ul > li</li>
						<li>ol > li > ul > li</li>
						<li>ol > li > ul > li</li>
					</ul>
				</li>
				<li>ol > li (Demo ordered list item)</li>
				<li>ol > li (Demo ordered list item)</li>
				<li>ol > li (Demo ordered list item)</li>
			</ol>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde incidunt sint adipisci, modi quibusdam molestias, obcaecati cum in tempore ducimus provident, sunt vero fuga neque similique molestiae facere ratione delectus?</p>

			<ol>
				<li>ol > li (Demo ordered list item)</li>
				<li>ol > li (Demo ordered list item)</li>
				<li>ol > li (Demo ordered list item)</li>
			</ol>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde incidunt sint adipisci, modi quibusdam molestias, obcaecati cum in tempore ducimus provident, sunt vero fuga neque similique molestiae facere ratione delectus?</p>

			<dl class="dl-horizontal">
				<dt>dl.dl-horizontal > dt (Demo description list term)</dt>
				<dd>dl.dl-horizontal > dd (Demo description list description)</dd>
				<dt>dl.dl-horizontal > dt</dt>
				<dd>dl.dl-horizontal > dd</dd>
				<dt>dl.dl-horizontal > dt</dt>
				<dd>dl.dl-horizontal > dd</dd>
			</dl>

			<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde incidunt sint adipisci, modi quibusdam molestias, obcaecati cum in tempore ducimus provident, sunt vero fuga neque similique molestiae facere ratione delectus?</p>

			<dl class="dl-horizontal dl-striped">
				<dt>dl.dl-horizontal.dl-striped > dt (Demo description list term)</dt>
				<dd>dl.dl-horizontal.dl-striped > dd (Demo description list description)</dd>
				<dt>dl.dl-horizontal.dl-striped > dt</dt>
				<dd>dl.dl-horizontal.dl-striped > dd</dd>
				<dt>dl.dl-horizontal.dl-striped > dt</dt>
				<dd>dl.dl-horizontal.dl-striped > dd</dd>
			</dl> -->

			<p class="text-muted">p.text-muted</p>
			<p class="text-primary">p.text-primary</p>
			<p class="text-success">p.text-success</p>
			<p class="text-info">p.text-info</p>
			<p class="text-warning">p.text-warning</p>
			<p class="text-danger">p.text-danger</p>

			<p class="bg-primary">p.bg-primary</p>
			<p class="bg-success">p.bg-success</p>
			<p class="bg-info">p.bg-info</p>
			<p class="bg-warning">p.bg-warning</p>
			<p class="bg-danger">p.bg-danger</p>

			<a href="#" class="btn btn-default">a.btn.btn-default</a>
			<br><br>
			<a href="#" class="btn btn-primary">a.btn.btn-primary</a>
			<br><br>
			<a href="#" class="btn btn-success">a.btn.btn-success</a>
			<br><br>
			<a href="#" class="btn btn-info">a.btn.btn-info</a>
			<br><br>
			<a href="#" class="btn btn-warning">a.btn.btn-warning</a>
			<br><br>
			<a href="#" class="btn btn-danger">a.btn.btn-danger</a>
			<br><br>
			<a href="#" class="btn btn-link">a.btn.btn-link</a>
			<br><br>

			<div class="btn-group" role="group" aria-label="...">
				<button type="button" class="btn btn-default">Left</button>
				<button type="button" class="btn btn-default">Middle</button>
				<button type="button" class="btn btn-default">Right</button>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-heading">This is form in default panel</h2>
				</div>
				<div class="panel-body">
					<form>
						<div class="form-group form-inline">
							<input class="form-control input-lg" placeholder="input.form-control.input-lg">
							<button class="btn btn-default btn-lg">button.btn.btn-default.btn-lg</button>
							<p class="help-block">p.help-block (form hint)</p>
						</div>

						<div class="form-group form-inline">
							<input class="form-control" placeholder="input.form-control">
							<button class="btn btn-default">button.btn.btn-default</button>
						</div>

						<div class="form-group form-inline">
							<input class="form-control input-sm" placeholder="input.form-control.input-sm">
							<button class="btn btn-default btn-sm">button.btn.btn-default.btn-sm</button>
						</div>

						<div class="form-group form-inline">
							<p>There's no class for extra small input (.input-xs) by default ):</p>
							<!-- <input class="form-control input-xs" placeholder="input.form-control.input-xs"> -->
							<button class="btn btn-default btn-xs">button.btn.btn-default.btn-xs</button>
						</div>

						<button type="submit" class="btn btn-primary btn-lg btn-block">.btn.btn-primary.btn-lg.btn-block</button>
					</form>
				</div>
			</div>
		</section>

		<!-- @include site-footer.html -->
		<!-- @include js.html -->
	</body>
</html>
