<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<!-- @include head.html -->
	</head>
	<body>
		<!-- @include site-header.html -->

		<section class="page-INIT">
			<h1>h1. Demo heading</h1>
			<h2>h2. Demo heading</h2>
			<h3>h3. Demo heading</h3>
			<h4>h4. Demo heading</h4>
			<h5>h5. Demo heading</h5>
			<h6>h6. Demo heading</h6>
			<p>p. Demo paragraph</p>
			<a href="#">a. Demo link</a>
			<a href="#" class="btn btn-default">a. Demo default button</a>
			<a href="#" class="btn btn-primary">a. Demo primary button</a>
			<ul>
				<li>ul > li. Delo unordered list</li>
				<li>ul > li. Delo unordered list</li>
				<li>ul > li. Delo unordered list</li>
			</ul>
			<ol>
				<li>ol > li. Delo ordered list</li>
				<li>ol > li. Delo ordered list</li>
				<li>ol > li. Delo ordered list</li>
			</ol>
		</section>

		<!-- @include site-footer.html -->
		<!-- @include js.html -->
	</body>
</html>
