<!DOCTYPE html>
<html class="no-js">
    {% include '../_parts/app-head.twig' %}

    <body>
        <header class="c-banner">
            {% include '../_parts/app-banner.twig' %}
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer class="c-footer">
            {% include '../_parts/app-footer.twig' %}
        </footer>

        {% include '../_parts/app-js.twig' %}
    </body>
</html>
