.add-file-btn {
	position: relative;
	height: 25px;
	overflow: hidden;
	width: 260px;

	input {
		height: 44px;
		margin-top: -22px;
		margin-left: -115px;
		outline: none !important;
		position: relative;
		z-index: 2;
		cursor: pointer;
		color: transparent;
	}

	a {
		color: #000;
		background-color: #efefef;
		border-radius: 2px;
		border: 1px solid #ccc;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		cursor: pointer;
	}

	.filename {
		position: absolute;
		top: 1px;
		left: 110px;
	}
}
