//# Application variables
//
//*


//## Colors
//
//* Gray and brand colors for use across Bootstrap.

@text-color-light:      @body-bg;


//## Grid
//
//*

@layout-padding-x:      @gutter;

@content-max-width:     @screen-lg;


//## Banner
//
//*

// @banner-height:         auto;           // reserved
// @screen-sticky-banner:  @screen-md-min; // reserved


//## Footer
//
//*

// @app-footer-height:         auto;           // reserved
// @screen-sticky-footer:      @screen-md-min; // reserved
