<div id="m{{ id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="m{{ id }}Label">
    <div class="modal-dialog modal-sm"> {# role="document" dialog #}
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>

                <h4 id="m{{ id }}Label" class="modal-title">Base demo modal (template)</h4>
            </div>
        </div>
    </div>
</div>
