<footer class="c-footer">
    <p>Application footer content</p>

    <p class="c-copy">© {{ 'now'|date('Y') ~ ' ' ~ APP.title }}</p>

    <div class="c-ideil">
        <a class="c-ideil-link" href="https://www.ideil.com/">made in <span class="sr-only">ideil.</span><img src="{{ PATH.svg }}ideil.svg" width="110" height="16" alt="ideil. — разработка веб-сайтов, интернет-магазинов, мобильных приложений и программного обеспечения" aria-hidden="true"></a>
    </div>
</footer>
