<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title>{{ PAGE.no ~ ' ' ~ PAGE.title ~ ' | ' ~ APP.title }}</title>

<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{# Favicon #}
<!-- <link rel="manifest" href="site.webmanifest"> -->
<!-- <link rel="apple-touch-icon" href="icon.png"> -->
<!-- Place favicon.ico in the root directory -->

{% for css in APP.css %}
    <link rel="stylesheet" href="{{ PATH.css ~ css }}{{ IS_PUB ? '.min' }}.css">
{% endfor %}
