{% extends '_templates/base.twig' %}

{% set pageId = '00' %}

{% block content %}
    <h1>Page heading</h1>

    <a href="{% include '_path' with { pageId: '00' } %}">Link Home</a>

    {% include 'modal/btn.twig' with {
        class: 'btn btn-primary',
        text: 'Button modal',
        target: 'DemoModal'
    } %}

    {% include 'modal/_base.twig' with {
        id: 'DemoModal'
    } %}

{% endblock %}
